$surface: #fff !default;
$text: #212529 !default;
$border: #dee2e6 !default;
$hover-surface: #f8f9fa !default;
$focus: #007bff !default;
$shadow: rgb(0 0 0 / 17.5%) !default;
$dark-surface: #343a40 !default;
$dark-text: #f8f9fa !default;
$dark-border: #4b545c !default;
$dark-hover-surface: #3f474e !default;
