@use 'colors';
@use 'variables';

@mixin define {
    :root {
        --soa-dropdown-surface: #{colors.$surface};
        --soa-dropdown-text: #{colors.$text};
        --soa-dropdown-border: #{colors.$border};
        --soa-dropdown-hover-surface: #{colors.$hover-surface};
        --soa-dropdown-focus: #{colors.$focus};
        --soa-dropdown-shadow-color: #{colors.$shadow};
        --soa-dropdown-min-width: #{variables.$min-width};
        --soa-dropdown-offset: #{variables.$offset};
        --soa-dropdown-padding-block: #{variables.$padding-block};
        --soa-dropdown-padding-inline: #{variables.$padding-inline};
        --soa-dropdown-item-padding-block: #{variables.$item-padding-block};
        --soa-dropdown-item-padding-inline: #{variables.$item-padding-inline};
        --soa-dropdown-border-width: #{variables.$border-width};
        --soa-dropdown-radius: #{variables.$radius};
        --soa-dropdown-font-size: #{variables.$font-size};
        --soa-dropdown-line-height: #{variables.$line-height};
        --soa-dropdown-focus-width: #{variables.$focus-width};
        --soa-dropdown-shadow: #{variables.$shadow} #{colors.$shadow};
    }

    :root[data-soa-color-scheme='dark'],
    .dark-mode {
        --soa-dropdown-surface: #{colors.$dark-surface};
        --soa-dropdown-text: #{colors.$dark-text};
        --soa-dropdown-border: #{colors.$dark-border};
        --soa-dropdown-hover-surface: #{colors.$dark-hover-surface};
    }
}
