@use 'colors';
@use 'variables';

@mixin define {
  :root[data-theme='framework-free-test'] {
    --soa-workbench-tooltip-surface: #{colors.$surface};
    --soa-workbench-tooltip-text-color: #{colors.$text};
    --soa-workbench-tooltip-shadow-color: #{colors.$shadow};
    --soa-workbench-tooltip-radius: #{variables.$radius};
  }
}
