@mixin styles {
  [data-widget='pushmenu'] {
    cursor: pointer;
  }

  .nav-treeview[hidden] {
    display: none !important;
  }

  .main-sidebar,
  .content-wrapper,
  .main-header,
  .main-footer {
    transition-duration: var(--soa-sidebar-transition-duration);
    transition-property: margin, transform, width;
  }
}
