/node_modules
/playwright-report
/test-results
/.phpunit.cache
/vendor
composer.lock
.DS_Store
.phpunit.result.cache
/.idea
yarn.lock
/build/logs
/public/default/css/*.map
/public/default/js/*.map
!/public/default/js/admin-app-dev.js.map
!/public/default/js/vue-dev.js.map
/public/packages/sleepingowl/*
