@use 'colors';
@use 'variables';

@mixin define {
    :root {
        --soa-lightbox-backdrop: #{colors.$backdrop};
        --soa-lightbox-backdrop-opacity: #{variables.$backdrop-opacity};
        --soa-lightbox-svg-min-size: #{variables.$svg-min-size};
    }
}
