@use 'colors';
@use 'variables';

@mixin define {
  :root {
    --soa-sidebar-bg: #{colors.$sidebar-background};
    --soa-sidebar-text-color: #{colors.$sidebar-text};
    --soa-sidebar-link-hover-bg: #{colors.$sidebar-link-hover};
    --soa-sidebar-link-active-bg: #{colors.$sidebar-link-active};
    --soa-sidebar-link-active-text: #{colors.$sidebar-link-active-text};
    --soa-sidebar-submenu-bg: #{colors.$sidebar-submenu};
    --soa-sidebar-overlay-bg: #{colors.$overlay-background};
    --soa-sidebar-width: #{variables.$width};
    --soa-sidebar-collapsed-width: #{variables.$collapsed-width};
    --soa-sidebar-z-index: #{variables.$z-index};
    --soa-sidebar-overlay-z-index: #{variables.$overlay-z-index};
    --soa-sidebar-indicator-angle: #{variables.$indicator-angle};
  }
}
