@use 'variables';

@mixin styles {
  [data-theme='framework-free-test'] [role='tablist'] {
    border-block-end: 0.0625rem solid var(--soa-workbench-tabs-border-color);
    display: flex;
    gap: variables.$gap;
  }

  [data-theme='framework-free-test'] [role='tab'] {
    background: transparent;
    border: 0;
    border-block-end: variables.$marker-width solid transparent;
    color: var(--soa-workbench-tabs-muted-color);
    padding: variables.$padding;
  }

  [data-theme='framework-free-test'] [role='tab'][aria-selected='true'] {
    border-block-end-color: var(--soa-workbench-tabs-marker-color);
    color: var(--soa-workbench-tabs-text-color);
  }
}
