@use 'colors';
@use 'custom-properties';
@use 'date-picker';
@use 'files';
@use 'variables';
@layer sleepingowl-feature.forms;
@include custom-properties.define;

@layer sleepingowl-feature.forms {
  @include date-picker.styles;
  @include files.styles(
    $thumbnail-border: var(
      --soa-form-file-thumbnail-border-color,
      #{colors.$file-thumbnail-border}
    ),
    $thumbnail-surface: var(
      --soa-form-file-thumbnail-surface-color,
      #{colors.$file-thumbnail-surface}
    ),
    $file-name-text: var(--soa-form-file-name-color, #{colors.$file-name-text}),
  );
}
