$field-gap: 0.5rem !default;
$form-gap: 1rem !default;
$grid-columns: 12 !default;
$grid-gap: 1rem !default;
$control-min-height: 2.375rem !default;
$textarea-min-height: 7rem !default;
$attachment-min-width: 12rem !default;
$dialog-max-width: 64rem !default;
$spinner-size: 1rem !default;
$switch-width: 2.5rem !default;
$switch-height: 1.375rem !default;
$breakpoint-sm: 36rem !default;
$breakpoint-md: 48rem !default;
$breakpoint-lg: 62rem !default;
$breakpoint-xl: 75rem !default;
