$sidebar-link-hover: var(--soa-sidebar-active-color) !default;
$sidebar-link-active: var(--soa-sidebar-active-color) !default;
$sidebar-link-active-text: var(--soa-sidebar-text-color) !default;
$sidebar-submenu: var(--soa-sidebar-bg) !default;
$overlay-background: var(--soa-overlay-color) !default;
