@use 'colors';

$control-min-height: 2.375rem !default;
$control-padding-block: 0.5rem !default;
$control-padding-inline: 0.75rem !default;
$control-border-width: 0.0625rem !default;
$control-border-radius: 0.25rem !default;
$control-transition-duration: 150ms !default;

@mixin define {
  :root {
    --soa-form-control-text-color: #{colors.$control-text};
    --soa-form-control-placeholder-color: #{colors.$control-placeholder};
    --soa-form-control-surface-color: #{colors.$control-surface};
    --soa-form-control-border-color: #{colors.$control-border};
    --soa-form-control-focus-color: #{colors.$control-focus};
    --soa-form-control-invalid-color: #{colors.$control-invalid};
    --soa-form-file-thumbnail-border-color: #{colors.$file-thumbnail-border};
    --soa-form-file-thumbnail-surface-color: #{colors.$file-thumbnail-surface};
    --soa-form-file-name-color: #{colors.$file-name-text};
    --soa-form-date-picker-surface-color: var(
      --soa-surface-color,
      #{colors.$control-surface}
    );
    --soa-form-date-picker-hover-color: var(
      --soa-page-background-color,
      #{colors.$control-surface}
    );
    --soa-form-date-picker-active-color: var(
      --soa-border-color,
      #{colors.$control-border}
    );
    --soa-form-date-picker-text-color: var(--soa-text-color, #{colors.$control-text});
    --soa-form-date-picker-muted-color: var(
      --soa-muted-text-color,
      #{colors.$control-placeholder}
    );
    --soa-form-date-picker-accent-color: var(
      --soa-primary-color,
      #{colors.$control-focus}
    );
    --soa-form-date-picker-border-color: var(
      --soa-border-color,
      #{colors.$control-border}
    );
    --soa-form-date-picker-other-month-color: var(
      --soa-border-color,
      #{colors.$control-border}
    );
    --soa-form-date-picker-disabled-color: var(
      --soa-muted-text-color,
      #{colors.$control-placeholder}
    );
    --soa-form-date-picker-selected-color: var(
      --soa-primary-color,
      #{colors.$control-focus}
    );
    --soa-form-date-picker-selected-hover-color: var(
      --soa-focus-color,
      #{colors.$control-focus}
    );
    --soa-form-date-picker-selected-text-color: #{colors.$date-picker-selected-text};
    --soa-form-date-picker-range-color: #{colors.$date-picker-range};
    --soa-form-date-picker-range-focus-color: #{colors.$date-picker-range-focus};
    --soa-form-date-picker-shadow-color: #{colors.$date-picker-shadow};
    --soa-form-control-min-height: #{$control-min-height};
    --soa-form-control-padding-block: #{$control-padding-block};
    --soa-form-control-padding-inline: #{$control-padding-inline};
    --soa-form-control-border-width: #{$control-border-width};
    --soa-form-control-border-radius: #{$control-border-radius};
    --soa-form-control-transition-duration: #{$control-transition-duration};
  }
}
