$control-min-height: 2.375rem !default;
$control-padding-block: 0.5rem !default;
$control-padding-inline: 0.75rem !default;
$control-border-width: 0.0625rem !default;
$control-border-radius: 0.25rem !default;
$control-transition-duration: 150ms !default;
