/* stylelint-disable custom-property-pattern, selector-class-pattern, color-no-hex -- DataTables public API */
@mixin styles {
  :root {
    --dt-order-arrow_color: #333;
    --dt-order-arrow_color-current: #333;
    --dt-order-arrow-height: 7px;
    --dt-order-arrow_opacity: 0.125;
    --dt-order-arrow_opacity-current: 0.65;
    --dt-order-arrow-width: 8px;
    --dt-order-arrow-gap: 1px;
    --dt-order-header_outline-hover: 2px solid #0000000d;
  }

  :root.dark,
  :root[data-bs-theme='dark'],
  :root[data-theme='dark'] {
    --dt-order-arrow_color: #e5e9ee;
    --dt-order-arrow_color-current: #e5e9ee;
    --dt-order-header_outline-hover: 2px solid #ffffff0d;
  }

  table:is([class~='dataTable'], .datatables, .soa-table) {
    thead > tr > :is(th, td) {
      &:active {
        outline: none;
      }

      &.dt-orderable-asc,
      &.dt-orderable-desc {
        cursor: pointer;
      }

      &:is(
        .dt-orderable-asc,
        .dt-orderable-desc,
        .dt-ordering-asc,
        .dt-ordering-desc
      ) .dt-column-order {
        position: relative;
        width: var(--dt-order-arrow-width);
        align-self: stretch;
      }

      &:is(
        .dt-orderable-asc,
        .dt-ordering-asc
      ) .dt-column-order::before {
        bottom: calc(50% + var(--dt-order-arrow-gap));
        border-right: calc(var(--dt-order-arrow-width) / 2) solid transparent;
        border-bottom: var(--dt-order-arrow-height) solid var(--dt-order-arrow_color);
        border-left: calc(var(--dt-order-arrow-width) / 2) solid transparent;
      }

      &:is(
        .dt-orderable-desc,
        .dt-ordering-desc
      ) .dt-column-order::after {
        top: calc(50% + 1px);
        border-top: var(--dt-order-arrow-height) solid var(--dt-order-arrow_color);
        border-right: calc(var(--dt-order-arrow-width) / 2) solid transparent;
        border-left: calc(var(--dt-order-arrow-width) / 2) solid transparent;
      }

      &.dt-orderable-asc .dt-column-order::before,
      &.dt-orderable-asc .dt-column-order::after,
      &.dt-orderable-desc .dt-column-order::before,
      &.dt-orderable-desc .dt-column-order::after,
      &.dt-ordering-asc .dt-column-order::before,
      &.dt-ordering-asc .dt-column-order::after,
      &.dt-ordering-desc .dt-column-order::before,
      &.dt-ordering-desc .dt-column-order::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: 0;
        color: var(--dt-order-arrow_color);
        content: ' ';
        opacity: var(--dt-order-arrow_opacity);
      }

      &.dt-ordering-asc .dt-column-order::before {
        border-bottom-color: var(--dt-order-arrow_color-current);
        opacity: var(--dt-order-arrow_opacity-current);
      }

      &.dt-ordering-desc .dt-column-order::after {
        border-top-color: var(--dt-order-arrow_color-current);
        opacity: var(--dt-order-arrow_opacity-current);
      }

      &.dt-orderable-none:not(.dt-ordering-asc, .dt-ordering-desc)
        .dt-column-order:empty,
      &.sorting_desc_disabled .dt-column-order::after,
      &.sorting_asc_disabled .dt-column-order::before {
        display: none;
      }

      div.dt-column-header,
      div.dt-column-footer {
        display: flex;
        align-items: var(--dt-header-cell_align-items, center);
        justify-content: space-between;
        gap: 4px;

        .dt-column-title {
          flex-grow: 1;

          &:empty {
            display: none;
          }
        }
      }
    }

    tfoot > tr > :is(th, td) div {
      &.dt-column-header,
      &.dt-column-footer {
        display: flex;
        align-items: var(--dt-header-cell_align-items, center);
        justify-content: space-between;
        gap: 4px;

        .dt-column-title {
          flex-grow: 1;

          &:empty {
            display: none;
          }
        }
      }
    }
  }
}
/* stylelint-enable custom-property-pattern, selector-class-pattern, color-no-hex */
