@use 'colors';
@use 'variables';

@mixin define {
  :root {
    --soa-table-text-color: #{colors.$text};
    --soa-table-surface-color: #{colors.$surface};
    --soa-table-border-color: #{colors.$border};
    --soa-table-row-hover-color: #{colors.$row-hover};
    --soa-table-row-selected-color: #{colors.$row-selected};
    --soa-table-cell-padding-block: #{variables.$cell-padding-block};
    --soa-table-cell-padding-inline: #{variables.$cell-padding-inline};
    --soa-table-border-width: #{variables.$border-width};
    --soa-table-row-transition-duration: #{variables.$row-transition-duration};
  }
}
