@use 'colors';
@use 'variables';

@mixin define {
    :root {
        --soa-dropdown-surface: #{colors.$surface};
        --soa-dropdown-text: #{colors.$text};
        --soa-dropdown-z-index: #{variables.$z-index};
    }
}
