$indent: 1.5rem !default;
$item-gap: 0.5rem !default;
$content-padding-block: 0.45rem !default;
$content-padding-inline: 0.75rem !default;
$control-size: 1.75rem !default;
$control-gap: 0.25rem !default;
$menu-gap: 0.5rem !default;
$border-width: 0.0625rem !default;
$radius: 0.25rem !default;
$transition-duration: 150ms !default;
$ghost-opacity: 0.65 !default;
$shadow-offset: 0.5rem !default;
$shadow-blur: 1rem !default;
