@use 'colors';
@use 'variables';

@mixin define {
    :root {
        --soa-tabs-text: #{colors.$tab-text};
        --soa-tabs-active-text: #{colors.$tab-active-text};
        --soa-tabs-active-surface: #{colors.$tab-active-surface};
        --soa-tabs-border: #{colors.$tab-border};
        --soa-tabs-focus: #{colors.$tab-focus};
        --soa-tabs-gap: #{variables.$tab-gap};
        --soa-tabs-padding-block: #{variables.$tab-padding-block};
        --soa-tabs-padding-inline: #{variables.$tab-padding-inline};
        --soa-tabs-border-width: #{variables.$tab-border-width};
        --soa-tabs-radius: #{variables.$tab-radius};
        --soa-tabs-focus-width: #{variables.$tab-focus-width};
    }

    :root[data-soa-color-scheme='dark'] {
        --soa-tabs-text: #{colors.$dark-tab-text};
        --soa-tabs-active-text: #{colors.$dark-tab-active-text};
        --soa-tabs-active-surface: #{colors.$dark-tab-active-surface};
        --soa-tabs-border: #{colors.$dark-tab-border};
    }
}
