@use '../../frontend/features/forms/styles/files' as form-files;
@use '../../frontend/features/forms/styles/date-picker' as form-date-picker;
@use '../../frontend/features/forms/styles/custom-properties' as form-properties;
@use '../../frontend/features/dropdown/styles/custom-properties' as dropdown-properties;
@use '../../frontend/features/dropdown/styles/dropdown' as dropdown-driver;
@use '../../frontend/features/dropdown/themes/legacy-adminlte/styles/legacy' as legacy-dropdown;
@use '../../frontend/features/lightbox/styles/legacy' as legacy-lightbox-driver;
@use '../../frontend/features/lightbox/themes/legacy-adminlte/styles/legacy' as legacy-lightbox;
@use '../../frontend/features/sidebar/styles/custom-properties' as sidebar-properties;
@use '../../frontend/features/sidebar/styles/sidebar' as sidebar-driver;
@use '../../frontend/features/sidebar/themes/legacy-adminlte/styles/legacy' as legacy-sidebar;
@use '../../frontend/features/tabs/themes/legacy-adminlte/styles/legacy' as legacy-tabs;
@use '../../frontend/features/table/themes/legacy-adminlte/styles/legacy' as legacy-datatables;
@use '../../frontend/features/tooltip/styles/custom-properties' as tooltip-properties;
@use '../../frontend/features/tooltip/styles/tooltip' as tooltip-driver;
@use '../../frontend/features/tooltip/themes/legacy-adminlte/styles/legacy' as legacy-tooltip;
@use '../../frontend/features/tree/themes/legacy-adminlte/styles/legacy' as legacy-tree;
@use '../../frontend/themes/legacy-adminlte/styles/custom-properties' as theme-properties;
@use '../../frontend/themes/legacy-adminlte/styles/asset-health' as theme-asset-health;
@use '../../frontend/themes/legacy-adminlte/styles/legacy-build' as legacy-theme;

@include dropdown-properties.define;
@include dropdown-driver.styles;
@include legacy-dropdown.styles;
@include legacy-lightbox-driver.styles;
@include legacy-lightbox.styles;
@include sidebar-properties.define;
@include sidebar-driver.styles;
@include legacy-sidebar.styles;
@include legacy-tabs.styles;
@include legacy-datatables.styles;
@include tooltip-properties.define;
@include tooltip-driver.styles;
@include legacy-tooltip.styles;
@include legacy-tree.styles;
@include form-files.styles(
  $thumbnail-border: legacy-theme.$file-thumbnail-border,
  $thumbnail-surface: legacy-theme.$file-thumbnail-surface,
  $file-name-text: legacy-theme.$file-name-text,
);
@include form-properties.define;
@include form-date-picker.styles;
@include theme-properties.define;
@include theme-asset-health.styles;

@import '../../frontend/shared/icons/styles/font-awesome';
