//Core
@import "variables";
@import "colors";
@import "~bootstrap/scss/bootstrap";
@import "adminLte";
@import "font";


//Component
@import "components";
@import "addition";


//fontawesome 5
@import "~@fortawesome/fontawesome-free/css/all.min.css";
//responsive-bs4
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
