$colors_palette: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  white: $white,
  info: $info,
  red: $red,
  danger: $red,
  gray: $gray,
  black: $black,
)
!default;
