@mixin styles {
  :root {
    color-scheme: light;
  }

  :root[data-color-scheme='dark'] {
    color-scheme: dark;
  }

  body.soa-body {
    background: var(--soa-page-background-color);
    color: var(--soa-text-color);
    font-family: var(--soa-font-family-sans);
    font-size: var(--soa-font-size-base);
    line-height: var(--soa-line-height-base);
    margin: 0;
  }

  .soa-app :where(a, button) {
    -webkit-tap-highlight-color: var(--soa-overlay-color);
  }

  .soa-app a {
    color: inherit;
  }

}
