@use 'colors';
@use 'variables';

@mixin define {
  :root[data-theme='framework-free-test'] {
    --soa-workbench-dropdown-surface: #{colors.$surface};
    --soa-workbench-dropdown-border-color: #{colors.$border};
    --soa-workbench-dropdown-text-color: #{colors.$text};
    --soa-workbench-dropdown-shadow-color: #{colors.$shadow};
    --soa-workbench-dropdown-radius: #{variables.$radius};
  }
}
