$menu-offset: 0.375rem !default;
$menu-min-width: 10rem !default;
$menu-padding: 0.375rem !default;
$item-padding: 0.5rem 0.75rem !default;
$radius: 0.375rem !default;
$shadow: 0 0.625rem 1.5rem !default;
