.inline-block {
	display: inline-block;
}

#imageBrowser {
	max-height: 300px;
	overflow-y: scroll;
}

#imageBrowser .thumbnail {
	opacity: 0.7;
}

#imageBrowser .thumbnail:hover {
	border-color: #428bca !important;
	opacity: 1.0;
}

.file-info {
	display: inline-block !important;
}

.input-group-addon .fa-calendar, .input-group-addon .fa-clock-o {
	cursor: pointer;
}

.form-group.datepicker, .form-group.timepicker {
	width: 250px;
}

#map {
	margin-bottom: 15px;
}

#map * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#map ul {
	font-size: 9px;
	line-height: 12px;
}

.dataTables_processing {
	position: absolute;
	left: 50%;
	top: 140px;
	margin-left: -35px;
}

.img-container a {
	float: left;
}

.img-container a+a {
	margin-left: 20px;
}

.img-container a.img-delete {
	color: #d9534f;
}