// For all template (except for the old 'default')

/**
  | В этом файле мы переназначаем стили для основных элементов на переменные.
  |
  | Сами переменные мы помещаем в шаблон из конфиг файла, для быстрой замены цвета.
  | Так же это можно менять и скриптом уже на фронте
 */

$primary: #3c8dbc;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #d73925;
$light: #f8f9fa;
$dark: #343a40;
$colorTransition: 0.5s;

:root {
    --adm-sidebar: #1f2937;
    --adm-muted: #888;
    --adm-bg-content: #f4f6f9;

    //main colors
    --adm-primary: #{$primary};
    --adm-primary-darken: #{darken($primary, 10%)};
    --adm-primary-lighten: #{lighten($primary, 20%)};

    --adm-secondary: #{$secondary};
    --adm-secondary-darken: #{darken($secondary, 10%)};
    --adm-secondary-lighten: #{lighten($secondary, 10%)};

    --adm-success: #{$success};
    --adm-success-darken: #{darken($success, 10%)};
    --adm-success-lighten: #{lighten($success, 10%)};

    --adm-info: #{$info};
    --adm-info-darken: #{darken($info, 10%)};
    --adm-info-lighten: #{lighten($info, 10%)};

    --adm-warning: #{$warning};
    --adm-warning-darken: #{darken($warning, 10%)};
    --adm-warning-lighten: #{lighten($warning, 10%)};

    --adm-danger: #{$danger};
    --adm-danger-darken: #{darken($danger, 10%)};
    --adm-danger-lighten: #{lighten($danger, 10%)};

    --adm-light: #{$light};
    --adm-light-darken: #{darken($light, 10%)};
    --adm-light-lighten: #{lighten($light, 10%)};

    --adm-dark: #{$dark};
    --adm-dark-darken: #{darken($dark, 10%)};
    --adm-dark-lighten: #{lighten($dark, 10%)};
}

a {
    color: var(--adm-primary);

    &:hover,
    &:focus {
        color: var(--adm-primary-darken);
    }
}

/**
  | Массив цветов для перебора
 */
$theme-admin-colors: (
    "primary",
    "secondary",
    "success",
    "info",
    "warning",
    "danger",
    "light",
    "dark"
) !default;


@each $color in $theme-admin-colors {

    // BTN
    .btn-#{$color} {
        background-color:var(--adm-#{$color});
        border-color: var(--adm-#{$color});
        color: var(--adm-light);
        transition-duration: $colorTransition;
        transition-property: background-color, color, border-color;

        &:hover,
        &:focus {
            color: var(--adm-light);
            background-color: var(--adm-#{$color}-darken);
            border-color: var(--adm-#{$color}-darken);
        }
    }

    // Background
    .bg-#{$color},
    .badge-#{$color} {
        background-color: var(--adm-#{$color}) !important;
    }

    // Text
    .text-#{$color} {
        color: var(--adm-#{$color}) !important;
    }
}


// Other
.text-white {
    color: var(--adm-light) !important;
}
