.form-element-files-wrapper .control-label.form-element-files-control-label {
    display: block;
}

.form-element-files-wrapper .control-label.form-element-files-control-label + .form-element-helptext {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;
}

.fileUploadMultiple {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.fileUploadMultiple .files-group {
    display: block;
    width: 100%;
    padding: 10px;
}
.fileUploadMultiple .files-group .fileThumbnail {
    float: left;
    width: 206px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 3px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    background: #f4f4f4;
}

.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon {
    display: table;
    width: 100%;
    height: 130px;
    margin-bottom: 5px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon .fileicon-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon .fileicon-inner .file-extension,
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon .fileicon-inner .file-mime {
    display: block;
    cursor: default;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon .fileicon-inner .file-extension {
    text-transform: uppercase;
    font-size: 24px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .fileicon .fileicon-inner .file-mime {
    font-size: 16px;
}

.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions {
    margin: 5px auto 0;
    padding: 0 0 10px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .fileinfo {
    display: none;
    /*display: block;*/
    width: 100%;
    word-break: break-all;
    text-align: center;
    font-size: 12px;
    cursor: default;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .tit {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 2px 5px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .tit.hidden {
    display: none;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .desc {
    display: block;
    width: 100%;
    margin: 5px auto;
    resize: none;
    padding: 2px 5px;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .desc.hidden {
    display: none;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-actions .file-buttons {
    margin: 10px 0 0;
    padding: 0 10px;
    text-align: center;
    clear: both;
}
.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-clearfix {
    clear: both;
}

.fileUploadMultiple .files-group .fileThumbnail .thumbnail .file-original_name {
    display: block;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
}

/* VERTICAL */

.fileUploadMultiple .files-group-vertical .fileThumbnail {
    float: none;
    width: 100%;
}
.fileUploadMultiple .files-group-vertical .fileThumbnail .thumbnail .fileicon {
    width: 30%;
    float: left;
    margin-bottom: 0;
}
.fileUploadMultiple .files-group-vertical .fileThumbnail .thumbnail .file-actions {
    float: right;
    width: 70%;
    padding-left: 10px;
    padding-right: 7px;
    height: 135px;
    position: relative;
}
.fileUploadMultiple .files-group-vertical .fileThumbnail .thumbnail .file-actions .desc {
    height: 45px;
}
.fileUploadMultiple .files-group-vertical .fileThumbnail .thumbnail .file-actions .file-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 7px 7px 10px;
}

.fileUploadMultiple .files-group-vertical .fileThumbnail .thumbnail .file-original_name {
    position: absolute;
    right: 7px;
    bottom: 5px;
    left: initial;
    width: calc(70% - 15px);
    text-align: right;
}