$control-surface: #343a40 !default;
$control-surface-hover: #007bff !default;
$control-text: #fff !default;
$caption-surface: #fff !default;
$caption-text: #343a40 !default;
$dark-caption-surface: #343a40 !default;
$dark-caption-text: #f8f9fa !default;
