@use 'tokens';

@mixin styles {
  .dt-container {
    position: relative;
    min-height: tokens.$minimum-height;
  }

  .dt-info {
    padding-left: 1.25rem;
    font-size: 85%;
    font-weight: 500;
  }

  select.form-control.input-select.column-filter {
    appearance: auto;
  }

}
