@mixin styles {
  .table.datatables,
  .table.table-striped {
    tbody {
      border-bottom: var(--soa-table-border-width) solid var(--soa-table-border-color);
    }

    thead th {
      line-height: 1.2;

      &:active {
        outline: 0.125rem solid transparent;
      }
    }

    thead > tr > th.dt-type-numeric,
    thead > tr > th.dt-type-date {
      .dt-column-header {
        flex-direction: row;
      }

      .dt-column-order {
        right: 0.25rem;
        left: auto;
      }
    }
  }

  .lightcolumn.table td.highlight {
    background-color: var(--soa-table-row-hover-color) !important;
  }
}
