$control-surface: var(--soa-text-color) !default;
$control-surface-hover: var(--soa-primary-color) !default;
$control-text: var(--soa-surface-color) !default;
$caption-surface: var(--soa-elevated-surface-color) !default;
$caption-text: var(--soa-text-color) !default;
