$control-surface: #1f2937 !default;
$control-surface-hover: #2563eb !default;
$control-text: #fff !default;
$caption-surface: #fff !default;
$caption-text: #111827 !default;
$dark-caption-surface: #111827 !default;
$dark-caption-text: #f9fafb !default;
