$transition-duration: 0.3s !default;

@mixin properties {
  :root {
    --soa-sidebar-transition-duration: #{$transition-duration};
  }
}

@mixin styles {
  [data-widget='pushmenu'] {
    cursor: pointer;
  }

  .nav-treeview[hidden] {
    display: none !important;
  }

  .app-sidebar,
  .app-main,
  .app-header,
  .app-footer {
    transition-duration: var(--soa-sidebar-transition-duration);
    transition-property: margin, transform, width;
  }
}
