.app-sidebar .sidebar-menu > .nav-item > .nav-treeview {
  background-color: rgba($white, 0.03);
  padding-left: 1rem;
}

.sidebar-menu {
  &:hover {
    overflow: hidden;
  }

  .nav-item {
    i {
      width: 1.3rem;
      text-align: center;
    }
  }
}
