.soa-scroll-control {
  background-color: rgba($white, 0.8);
  color: $black;

  &:hover {
    background-color: rgba($gray-900, 0.8);
    color: $white;
  }
}

.soa-scroll-control-top {
  border-radius: 0.5rem 0.5rem 0 0;
}

.soa-scroll-control-bottom {
  border-radius: 0 0 0.5rem 0.5rem;
}
