$tab-text: #495057 !default;
$tab-active-text: #007bff !default;
$tab-active-surface: #fff !default;
$tab-border: #dee2e6 !default;
$tab-focus: #80bdff !default;
$dark-tab-text: #ced4da !default;
$dark-tab-active-text: #f8f9fa !default;
$dark-tab-active-surface: #343a40 !default;
$dark-tab-border: #4b545c !default;
