@use 'colors';
@use 'variables';

@mixin define {
  :root[data-theme='framework-free-test'] {
    --soa-workbench-table-border-color: #{colors.$border};
    --soa-workbench-table-heading-color: #{colors.$heading};
    --soa-workbench-table-radius: #{variables.$radius};
  }
}
