@import (less) "../../../node_modules/magnific-popup/dist/magnific-popup.css";
@import (less) "../../../node_modules/x-editable/dist/jquery-editable/css/jquery-editable.css";
@import (less) "../../../node_modules/sweetalert2/dist/sweetalert2.min.css";
@import (less) "../../../node_modules/bootstrap-daterangepicker/daterangepicker.css";

@import "libs/dataTables";
@import "libs/nestable";
@import "libs/dropzone";
@import "libs/select2";
@import "libs/datetimepicker";

@font-face {
  font-family: 'Open Sans';
  font-style:  italic;
  font-weight: 400;
  src:         local('Open Sans Italic'), local('Open-Sans-Italic'),
               url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style:  bold;
  font-weight: 700;
  src:         local('Open Sans Bold'), local('Open-Sans-Bold'),
               url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 400;
  src:         local('Open Sans Regular'), local('Open-Sans-Regular'),
               url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

// Bootstrap 3
@import "../../../node_modules/bootstrap/less/bootstrap";
@icon-font-path: "../fonts/";

// Font awesome
@import "../../../node_modules/font-awesome/less/font-awesome";
@fa-font-path: "../fonts";

// Admin LTE
@import "libs/AdminLTE";
@import "components/form-elements";
@import "components/tables";

@input-color: #666;

body {
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb {
  padding: 5px 15px;
  font-size: 12px;
}

.sidebar-menu .treeview-menu > li > a {
  padding-top:    12px;
  padding-bottom: 12px;
}

.tab-content {
  padding: 10px 0;
}

/* Image */
.images-group .imageThumbnail {
  cursor: move;
}

.btn-actions {
  padding:       10px !important;
  box-shadow:    0 6px 12px rgba(0, 0, 0, .175);
  border-radius: 0;
  background:    whitesmoke;

  .btn {
    text-align: left !important;
    border:     1px solid #fff;
  }

  .divider {
    margin-left:  -10px;
    margin-right: -10px;
  }
}

/*******************
    Panels
********************/


.panel-footer {
  .pagination {
    margin: 0;
  }
}


.panel-wide {
  margin-left:  -@panel-body-padding;
  margin-right: -@panel-body-padding;
}