$min-width: 10rem !default;
$offset: 0.125rem !default;
$padding-block: 0.5rem !default;
$padding-inline: 0 !default;
$item-padding-block: 0.25rem !default;
$item-padding-inline: 1.5rem !default;
$border-width: 1px !default;
$radius: 0.25rem !default;
$font-size: 1rem !default;
$line-height: 1.5 !default;
$focus-width: 2px !default;
$shadow: 0 0.5rem 1rem !default;
