@use '../../../shared/features/forms/files' as form-files;
@use '../../../shared/features/forms/date-picker' as form-date-picker;
@use '../../../shared/features/forms/custom-properties' as form-properties;
@use '../../../shared/features/dropdown/custom-properties' as dropdown-properties;
@use '../../../shared/features/dropdown/dropdown' as dropdown-driver;
@use '../features/dropdown/legacy' as legacy-dropdown;
@use '../../../shared/features/lightbox/legacy' as legacy-lightbox-driver;
@use '../features/lightbox/legacy' as legacy-lightbox;
@use '../../../shared/features/sidebar/custom-properties' as sidebar-properties;
@use '../../../shared/features/sidebar/sidebar' as sidebar-driver;
@use '../features/sidebar/legacy' as legacy-sidebar;
@use '../features/tabs/legacy' as legacy-tabs;
@use '../features/table/legacy' as legacy-datatables;
@use '../../../shared/features/tooltip/custom-properties' as tooltip-properties;
@use '../../../shared/features/tooltip/tooltip' as tooltip-driver;
@use '../features/tooltip/legacy' as legacy-tooltip;
@use '../features/tree/legacy' as legacy-tree;
@use '../custom-properties' as theme-properties;
@use '../asset-health' as theme-asset-health;
@use '../legacy-build' as legacy-theme;

@include dropdown-properties.define;
@include dropdown-driver.styles;
@include legacy-dropdown.styles;
@include legacy-lightbox-driver.styles;
@include legacy-lightbox.styles;
@include sidebar-properties.define;
@include sidebar-driver.styles;
@include legacy-sidebar.styles;
@include legacy-tabs.styles;
@include legacy-datatables.styles;
@include tooltip-properties.define;
@include tooltip-driver.styles;
@include legacy-tooltip.styles;
@include legacy-tree.styles;
@include form-files.styles(
  $thumbnail-border: legacy-theme.$file-thumbnail-border,
  $thumbnail-surface: legacy-theme.$file-thumbnail-surface,
  $file-name-text: legacy-theme.$file-name-text,
);
@include form-properties.define;
@include form-date-picker.styles;
@include theme-properties.define;
@include theme-asset-health.styles;

@import '../../../shared/features/icons/font-awesome';
