@use '../../../shared/features/forms/files' as form-files;
@use '../../../shared/features/forms/date-picker' as form-date-picker;
@use '../../../shared/features/dropdown/dropdown' as dropdown-driver;
@use '../../../shared/features/lightbox/lightbox' as legacy-lightbox-driver;
@use '../../../shared/features/sidebar/sidebar' as sidebar-driver;
@use '../features/sidebar/sidebar' as legacy-sidebar;
@use '../../../shared/features/tabs/tabs';
@use '../features/table/legacy' as legacy-datatables;
@use '../../../shared/features/tooltip/tooltip' as tooltip-driver;
@use '../../../shared/tokens' as shared-tokens;
@use '../../../shared/features/tree/tree';
@use '../tokens' as theme-tokens;
@use '../asset-health' as theme-asset-health;
@use '../legacy-build' as legacy-theme;

@include shared-tokens.define;
@include dropdown-driver.styles;
@include legacy-lightbox-driver.styles;
@include sidebar-driver.styles;
@include legacy-sidebar.styles;
@include legacy-datatables.styles;
@include tooltip-driver.styles;
@include form-files.styles(
  $thumbnail-border: legacy-theme.$file-thumbnail-border,
  $thumbnail-surface: legacy-theme.$file-thumbnail-surface,
  $file-name-text: legacy-theme.$file-name-text,
);
@include form-date-picker.styles;
@include theme-tokens.define;
@include theme-asset-health.styles;

@import '../../../shared/features/icons/font-awesome';
