// fix bs3
// нужно поправить значения под новый бутстрап
$gray-lighter: #eeeeee!default;
$input-radius: 3px!default;
$input-border-focus: 3px!default;


$btn-primary-bg: 1em!default;
$btn-primary-color: red!default;
$border-radius-base: 1px!default;
$gray-light: #eeeeee!default;
$screen-sm-min: 1em!default;
$screen-md-min: 1em!default;
$screen-lg-min: 1em!default;

$brand-danger: red!default;
$gray-base: red!default;
$brand-warning: red!default;
$state-danger-text: red!default;
