.navbar {

  a[data-widget="pushmenu"] {
    cursor: pointer;
  }

  .navbar-nav {
    .dropdown-menu {
      @media (max-width: 768px) {
        right: 0;
        left: inherit;
      }
      @media (max-width: 616px) {
        padding: 1em;
        left: 0;
        right: 0;
        position: fixed;
        top: 7vh;
        width: 100%;
        height: 90vh;
        overflow-y: auto;
      }

    }
  }
}
