.form-element-password {

    .password-field {
        position: relative;

        .control-button {
            position: absolute;
            top: 50%;
            margin-top: -1em;
            right: 0.3rem;
        }
    }
}
