.sidebar {
  overflow-x: hidden;
}

.row {
  max-width: 100%;
}

.sidebar-open {
  .main-sidebar {
    transition: 0.5s;
  }
}

.sidebar-mini.sidebar-collapse .main-sidebar {
  &:hover {
    transition: $trans;
  }
}

.nav-sidebar .nav-link > p > .right:nth-child(2) {
  right: 1rem;
}

.brand-link {
  padding: 0.6em 0;
}

.nav-sidebar>.nav-item>.nav-treeview {
  border-bottom: 1px solid $gray-600;
  margin-bottom: 0.5rem;
}

// .card-body {
//   padding: 0;
//   padding-bottom: 1.25em;
// }
.card-header {
  border-bottom: 0;
}

.card.maximized-card {
  overflow-y: auto;
}
