.btn {
  &.btn-xs {
    padding: 0.1rem 0.3rem;
    font-size: 70%;
  }
}

.table-control-btn {
  text-align: right;
}

.btn-group-vertical {
  .btn {
    white-space: nowrap;
  }
}

form {
  .form-buttons {
    padding-bottom: 2em;
  }
}
