.dataTables_paginate {
  display: flex;
  padding: 1em 1.25rem 0;
  list-style: none;
  border-radius: 0.25rem;

  .pagination {
    flex-wrap: wrap;
    padding-left: 0;

    @media (max-width: 768px) {
      justify-content: center;
      padding-left: 0;
    }
  }

  .paginate_button {
    margin-bottom: 0.5em;

    a {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: $primary;
      background-color: $white;
      border: 1px solid $gray-300;
      text-decoration: none;

      &:hover {
        background-color: $gray-200;
      }
    }

    &.active a {
      z-index: 1;
      color: $white;
      background-color: $primary;
      border-color: $primary;
      cursor: default;
      outline: none;
    }

    &.disabled a {
      color: $gray-300;
      cursor: default;
      background-color: transparent;
      outline: none;
    }
  }

}
