
//fix def variable BS3
$btn-primary-bg: $primary !default;
$btn-primary-color: $primary !default;
$gray-lighter: $gray-300 !default;
$gray-light: $gray-600 !default;


@import "~bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker";

.dark-mode {
    .bootstrap-datetimepicker-widget table {
        thead tr:first-child th:hover,
        td.day:hover,
        td.hour:hover,
        td.minute:hover,
        td span:hover,
        td.second:hover {
            background-color: $gray-700;
        }

    }

    .bootstrap-datetimepicker-widget.dropdown-menu.bottom {
        &:before {
            border-bottom-color: rgba($white, 0.2);
        }
        &:after {
            border-bottom-color: $dark-bg-color;
        }
    }

    .bootstrap-datetimepicker-widget.dropdown-menu.top {
        &:before {
            border-top-color: rgba($white, 0.2);
        }
        &:after {
            border-top-color: $dark-bg-color;
        }
    }

}

.bootstrap-datetimepicker-widget {
  .datepicker-years thead .picker-switch {
    cursor: default;
    pointer-events: none;
  }

  table td.active {
    &,
    &:hover {
      color: $white;
    }
  }
}

.datepicker-decades {
  .decade {
    line-height: 1.2;
    padding-top: 0.5em;
  }
}
