.display-filters {
  td {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: middle;
  }

  .input-group-text {
    span {
      line-height: 1.5;
    }
  }

  .column-filter {
    width: 100%;

    .form-group {
      width: 100%;
      input {
        width: calc(100% - 2.5rem);

      }
    }
  }

  .btn-group {
    float: right;
  }
}
