.sidebar {

  .nav-link p {
    max-width: 190px;
  }

  .pull-right-container {
    position: absolute;
    right: 1.2rem;
    margin-top: -0.15rem;
  }
}

.brand {
  .brand-link {
    svg, img {
      max-height: 32px;
    }
  }

  .brand-text {
    margin-left: 0.5rem !important;
  }

  .logo-mini {
    text-align: center;
  }
}

.sidebar-open {
  .logo-mini {
    display: none;
  }
}

.sidebar-collapse {
  .logo {
    display: none;
  }

  .logo-mini {
    width: 3.5rem;
    display: inline-block;
  }
}
