.panel {
  .panel-heading {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 1rem;
    align-items: center;

    form {
      display: inline-flex;
    }

    @media (max-width: 667px) {
      flex-direction: column;
    }
  }

  .panel-footer {
    padding-bottom: 2em;
  }
}
