.datatables {
  position: relative;

  &.autoupdater {
    .autoupdater-close {
      position: absolute;
      top: -1.3rem;
      right: -0.6rem;
      font-size: 1.5rem;
      padding: 0.2rem;
      color: $gray;
      cursor: pointer;
      transition: color $trans;

      @media (max-width: 768px) {
        top: -0.5rem;
        right: 0;
      }

      &:hover {
        color: $red;
      }
    }

  }

  & > svg {
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
  }
}
