@mixin table-color($color, $text: #fff) {
  table {
    border-top-color: darken(desaturate($color, 15%), 12%) !important;
  }

  .table-header,
  thead,
  thead th,
  thead tr {
    border-color: darken(desaturate($color, 15%), 12%) !important;
    color: $text;
  }

  thead th,
  thead tr {
    background: darken(desaturate($color, 8%), 6%);
  }

  .table-header {
    background: $color;
  }

}

.table-primary {
  @include table-color($primary);
  background-color: inherit;
}

.table-success {
  @include table-color($success);
  background-color: inherit;
}

.table-danger {
  @include table-color($danger);
  background-color: inherit;
}

.table-warning {
  @include table-color($warning);
  background-color: inherit;
}

.table-info {
  @include table-color($info);
  background-color: inherit;
}
