.wrapper {
  min-height: 100vh;

  .content-wrapper {
    min-height: calc(100vh - 57px);

    .content.body {
      overflow-x: hidden;
      // min-height: 88vh;
      padding-bottom: 1em;
    }
  }
}
